/*body{}*/

h1 {
    font-size: 25px;
    float: left;
    width: 225px;
    height: 1000px;
    border:1px solid black;
    padding: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 25px;
    align-items: center;
    float: right;
    width: 225px;
    height: 1000px;
    border:1px solid black;
    padding: 10px;
    margin-left: 10px;

}
