/*body{}*/

h1 {
  font-family: "Bangers", cursive;
  font-size: 25px;
  float: left;
  width: 225px;
  height: 1200px;
  border: 1px solid black;
  padding: 10px;
  margin-right: 10px;
}


h3 {
  font-family: "Bangers", cursive;
  font-size: 25px;
  align-items: center;
  float: right;
  width: 225px;
  height: 1200px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 10px;
}

#villain-display{
    font-family: "Bangers", cursive;
    font-size: 30px;
    width: 320px;
    height: 550px;
    float: right;
    margin-left: auto;
    margin-right: auto;
    
  }

  #hero-display{
    font-family: "Bangers", cursive;
    font-size: 30px;
    width: 320px;
    height: 550px;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }


p {
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 50px;
}
