body {
  margin: 10px;
  height: 100vh;
  font-weight: 100;
  background: radial-gradient(#a23982, #1f1013);
}

li {
  font-size: 25px;
  letter-spacing: 10;
  text-align: left;
}
.villain-image {
  position: absolute;
  right: 300px;
  
}
.hero-image {
  position: absolute;
  left: 300px;
}
.hero-name {
  position: absolute;
  right: 300px;
}
.villain-name {
  position: absolute;
  right: 300px;
}
h4 {
  position: relative;
  color: white;
  text-shadow: 2px 2px blue;
  font-family: "Bangers", cursive;
  font-size: 45px;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
Img {
  position: center;
  border-radius: 55px;
  width: 5;
  height: 7;
  margin: 5px;
  vertical-align: middle;
}
h1 {
  text-align: center;
  position: absolute;
  left: 10px;
  top: 110px;
  font-family: "Bangers", cursive;
  color: white;
  text-shadow: 2px 2px blue;
  text-shadow: blue, 13;
  font-size: 40px;
  float: left;
  width: 225px;
  height: 1350px;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
}

h3 {
  position: absolute;
  right: 10px;
  top: 100px;
  text-align: center;
  font-family: "Bangers", cursive;
  color: white;
  text-shadow: 2px 2px blue;
  font-size: 40px;
  width: 225px;
  height: 1350px;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  margin-left: 10px;
}

h2 {
  position: static;
  color: white;
  text-shadow: 2px 2px blue;
  font-family: "Bangers", cursive;
  font-size: 45px;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  font-family: "Bangers", cursive;
  float: center;
  font-size: 65px;
}
p.header {
  position: relative;
  text-shadow: 4px 4px blue;
  text-align: center;
  color: white;
  background-color: null;
}
